*{
    background-color: rgb(30, 30, 30);
    color:rgb(235, 235, 235);
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

header, h3, footer{
    margin-left: 1.5rem;
}

h1{
    margin-bottom: -1rem;
}

#divider{
    margin-left: 2rem;
}

footer{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}


@media screen and (max-width:450px) {
    ol{
        margin-left: -1rem;
    }
}